<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="TutorialPagesStyles.css" rel="stylesheet">
  <script src="../../scripts.js"></script>
</head>
<body>

<section><h1>Algebra</h1></section>

<section>
  <h2>Vad är Algebra?</h2>
  <p>Algebra handlar om att lösa problem där okända värden representeras med bokstäver eller symboler. Det är en grundläggande del av matematik som används för att förstå relationer mellan olika kvantiteter. Algebra används i en mängd olika områden, från problemlösning och ekonomiska beräkningar till ingenjörsvetenskap och datavetenskap.</p>
</section>

<section><img src="../../assets/images/tutorialPagesImages/Algebra.png"></section>

<section>
  <h2>Algebrans Huvudområden</h2>
  <ul>
    <li><a onclick="document.getElementById('main-content').src = 'components/TutorialPages/LinjarEkvationer.html'">Linjära Ekvationer</a></li>
    <li><a onclick="document.getElementById('main-content').src = 'components/TutorialPages/Forenlingar.html'">Förenklingar av uttryck</a></li>
    <li><a onclick="document.getElementById('main-content').src = 'components/TutorialPages/Polynom.html'">Polynom och Faktorisering</a></li>
  </ul>
</section>
</body>
</html>