<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link href="TutorialPagesStyles.css" rel="stylesheet">
</head>
<body>

<section><h1>Förenklingar av Uttryck</h1></section>

<section>
  <h2>Vad innebär Förenkling av ett uttryck?</h2>
  <p>Att förenkla algebraiska uttryck innebär att kombinera termer för att få en mer hanterbar form av uttrycket. Förenkling av uttryck gör det enklare att arbeta med och lösa problem.</p>

  <h3>Metoder för Förenkling</h3>
  <ul>
    <li><strong>Sammanfoga lika termer:</strong> Om du har termer som är lika, kombinera dem. Till exempel, <em>3x + 2x = 5x</em>.</li>
    <li><strong>Distribuera:</strong> Använd distributiva lagen för att förenkla uttryck. Exempel: <em>2(x + 3) = 2x + 6</em>.</li>
    <li><strong>Förkorta bråk:</strong> Om du har ett bråk som kan förenklas, gör det. Exempel: <em>4x / 2x = 2</em>.</li>
  </ul>
</section>

<section><img src="../../assets/images/tutorialPagesImages/Forenklingar.png"></section>

<section>
  <h3>Exempel på förenklingar:</h3>
  <ul>
    <li><strong>Exempel 1:</strong> 3x + 4x - 2x = 5x</li>
    <li><strong>Exempel 2:</strong> 2(x + 3) - 4 = 2x + 6 - 4 = 2x + 2</li>
    <li><strong>Exempel 3:</strong> 4(x - 2) + 3 = 4x - 8 + 3 = 4x - 5</li>
  </ul>
</section>

</body>
</html>