<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="TutorialPagesStyles.css" rel="stylesheet">
</head>
<body>

<section><h1>Polynom och Faktorisering</h1></section>

<section>
    <h2>Vad är ett Polynom?</h2>
    <p>Polynom är algebraiska uttryck som består av summan av flera termer. Varje term består av en koefficient och en variabel upphöjd till en exponent. Exempel på ett polynom är: <em>x² + 3x - 5</em>.</p>

    <h3>Exempel på Polynom:</h3>
    <ul>
        <li><strong>Exempel 1:</strong> x² + 2x - 3</li>
        <li><strong>Exempel 2:</strong> 2x³ - 4x² + x - 1</li>
    </ul>
</section>

<section><img src="../../assets/images/tutorialPagesImages/Forenklingar.png"></section>

<section>

    <h3>Faktorisering av Polynom:</h3>
    <p>Faktorisering innebär att man bryter ner ett polynom i enklare faktorer. Faktorisering gör det lättare att lösa algebraiska problem, särskilt vid lösning av ekvationer.</p>

    <h3>Exempel på Faktorisering:</h3>
    <ul>
        <li><strong>Exempel 1:</strong> x² - 9 = (x - 3)(x + 3)</li>
        <li><strong>Exempel 2:</strong> x² + 5x + 6 = (x + 2)(x + 3)</li>
    </ul>

    <h3>Vanliga Faktoriseringstekniker:</h3>
    <ul>
        <li><strong>Faktorisering av trinomials:</strong> Exempel: <em>x² + 5x + 6 = (x + 2)(x + 3)</em>.</li>
        <li><strong>Faktorisering med gemensamma faktorer:</strong> Exempel: <em>2x² + 4x = 2x(x + 2)</em>.</li>
    </ul>
</section>

</body>
</html>